:root{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 470;
    font-size: 1.3em;

    --text: #093428;
    --background: #54E2B8;

    --transition-dur: .12s;
    transition-duration: var(--transition-dur);

    --glow: 0 0 0.3rem var(--text);

    scroll-behavior: smooth;

    overflow-y: scroll;
}

@media screen and (max-width: 900px) {
    :root{
        font-size: 1em;
    }

    body{
        padding-bottom: 24rem !important;
    }

    header {
        font-size: .75em;
        flex-direction: column;
    }

    .header-name-wrapper > *{
        margin: 1rem 0 !important;
    }

    .nav-button.selected {
        transform: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --text: #77ecc9;
        --background: #1d332d;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    background: var(--background);
    margin: 0;
    padding: 1rem;
    padding-bottom: 6rem;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.header-name-wrapper {
    display: flex;
    align-items: center;
}

.header-img {
    width: auto;
    height: 10em;
    border: .2rem solid var(--text);
    border-radius: 1rem;
    margin-top: 1.95em;
    margin-left: 1.4rem;
}

.header-main{
    left: -5em;
    font-size: 10em;
    font-weight: 900;
    margin: 2.2rem 1.4rem;
    margin-left: .5rem;
    background: var(--background);
}

.header-sub{
    display: flex;
    font-size: 1.8em;
    font-weight: 600;
    max-width: 20em;
    padding: .5rem;
    line-height: 130%;
    background: var(--text);
    color: var(--background);
}

.nav-bar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin: 3em 0;
}

.nav-button {
    white-space: nowrap;
    border: .2rem solid var(--text);
    font-weight: 600;
    font-size: 2em;
    padding: .25em .5em;
    margin: .25em;
    transition-duration: calc(var(--transition-dur) * 2);
}

.nav-button.selected {
    transform: translateY(1rem);
}

.nav-button.selected, .nav-button:hover {
    background: var(--text);
    color: var(--background);
    cursor: pointer;
}

.section {
    display: none;
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: 55rem;
    padding: 0 1rem;
    border-left: .2rem solid var(--text);
    border-bottom: .2rem solid var(--text);
    overflow: hidden;
}

.section > .header {
    font-size: 3.5rem;
    font-weight: 700;
}

.block {
    margin-top: 1rem;
    line-height: 175%;
}

.block > .header {
    font-size: 2em;
    font-weight: 600;
    margin-top: 2.5rem;
    line-height: 2.5rem
}

.media {
    width: 30rem;
    max-width: 100%;
    height: auto;
    border: .15rem solid var(--text);
    border-radius: 1rem;
}

.button {
    border: .1rem solid var(--text);
    border-radius: .1rem;
    padding: .1rem .2rem;
    font-weight: bold;
    transition-duration: var(--transition-dur);
}

.button:hover {
    box-shadow: var(--glow);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    margin-top: .2rem;
    background: var(--background);
}

footer::before{
    position: absolute;
    bottom: 3rem;
    content: "";
    width: 100%;
    height: 2rem;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, var(--background) 100%);
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper > a {
    margin: 0 .8rem;
    transition-duration: var(--transition-dur);
}

.footer-wrapper > a:hover {
    scale: 1.1;
}