:root{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 470;
    font-size: 1.5em;

    --text: #093428;
    --background: #54E2B8;

    --glow: var(--text) 0 0 0.3rem;
    --glow-dark: var(--background) 0 0 0.3rem;

}

body {
    background: var(--background);
    color: var(--text);
    display: flex;
    margin: 0;
    overflow-y: hidden;
}

a {
    color: var(--text);
}

#sidebar {
    background: var(--text);
    color: var(--background);
    height: 97vh;
    min-height: 97vh;
    width: 22vw;
    margin: 1.5vh 1.5vw;
    margin-right: 0;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 1.5rem;
    position: relative;
    font-size: 1.5rem;
    overflow-y: scroll;
    transition-duration: .3s;
    scrollbar-width: none;
}

#sidebar::before {
    content: "jpg.contact";
    font-size: .8rem;
    font-weight: 400;
    color: var(--background);
    opacity: .8;
    margin-bottom: .5rem;
    margin-top: 25vh;
}

#sidebar::after {
    content: "";
    margin-bottom: 25vh;
}

#sidebar > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition-duration: .1s;
    padding: .3rem 0;
    margin: .1rem 0;
    line-height: 1em;
    text-align: right;
    transition-duration: .1s;
    transform-origin: right;
}

#sidebar > a:hover {
    text-shadow: var(--glow-dark);
}

#sidebar > a:active {
    transform: scale(.95) !important;
}


#sidebar > a.big {
    font-size: 1.3em;
    font-weight: 700;
}

#sidebar > a.big:not(:first-child) {
    margin-top: 2rem;
}

#sidebar > a.active {
    padding: .5rem;
    background: var(--background);
    color: var(--text);
    margin: .4rem 0;
    font-weight: 700;
    position: relative;
}

#sidebar > a.active::before {
    content: "";
    position: absolute;
    width: calc(100% - .2rem);
    height: calc(100% - .2rem);
    top: .4rem;
    left: -.4rem;
    border: .1rem solid var(--background);
    z-index: -1;
}

#sidebar::-webkit-scrollbar {
    width: 0;
}

#page-content {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: calc(100vh - 16vh);
    display: flex;
    padding: 8vh 1.5rem;
    padding-right: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#page-content::-webkit-scrollbar {
    width: .5rem;
}

#page-content::-webkit-scrollbar-track {
    background: var(--background);
}

#page-content::-webkit-scrollbar-thumb {
    background: var(--text);
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

#modal > .modal-image {
    min-width: 90vw;
    min-height: 90vh;
    object-fit: contain;
    border: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row > * {
    margin-bottom: 1rem;
}

.flex-row > *:not(:last-child) {
    margin-right: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header {
    font-size: 8rem;
    margin-bottom: 4rem;
    padding: 1rem;
    border: .25rem solid var(--text);
    background: var(--text);
    color: var(--background);
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    top: 1rem;
    left: 1rem;
    border: .2rem solid var(--text);
    background: var(--background);
    z-index: -1;
}

.name-text {
    font-weight: 700;
    line-height: 1em;
}

.header-photo {
    width: 1em;
    height: 1em;
    object-fit: cover;
    border-radius: .1em;
}

.subheader {
    font-size: .2em;
    font-weight: 600;
    margin-top: .2em;
    padding: .5rem 1rem;
    background: var(--background);
    color: var(--text);
}


.section:not(:last-child){
    margin-bottom: 3rem;
}

.section > .title {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-left: .5rem;
    background: var(--text);
    color: var(--background);
    padding: 1rem;
    width: fit-content;
    position: relative;
}

.section > .title::before {
    content: "";
    position: absolute;
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    top: .5rem;
    left: -.5rem;
    border: .2rem solid var(--text);
    background: var(--background);
    z-index: -1;
}

.section.big > .title {
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 1em;
    margin-left: 1rem;
}

.section.big > .title::before {
    top: 1rem;
    left: -1rem;
}

.section > .content > div:not(:last-child) {
    margin-bottom: 1rem;
}

img:not(.no-modal), video:not(.no-modal), iframe:not(.no-modal) {
    cursor: pointer;
}

img, video, iframe {
    max-height: 13rem;
    max-width: 40rem;
    object-fit: cover;
    border: .3rem solid var(--text);
    border-radius: .5em;
}

.socials-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5rem;
}

.socials-wrapper > a {
    color: var(--background );
    text-decoration: none;
    transition-duration: .1s;
}

.socials-wrapper > a:hover {
    scale: 1.05;
}

.socials-wrapper > a:not(:last-child) {
    margin-right: 1rem;
}

.mobile-nav{
    display: none;
}

@media screen and (max-width: 1250px) {  

    .mobile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 3rem;
        font-size: 2.5rem;
        background: var(--text);
        color: var(--background);
        z-index: 10;
    }

    #page-content{
        padding: .5rem;
        width: calc(100vw - 1rem);
        height: calc(100vh - 3.5rem);
    }

    #page-content::after{
        content: "";
        margin-bottom: 1rem;
    }

    #sidebar{
        position: absolute;
        width: 100vw;
        min-width: 0;
        height: 100vh;
        padding: 1rem 0;
        margin: 0;
        align-items: center;
        z-index: 9;
        transform: translateY(100%);
    }

    #sidebar::after{
        margin-bottom: 5rem;
    }

    #sidebar::before{
        margin-top: 1rem;
    }

    #sidebar.visible{
        transform: translateY(0);
    }

    #sidebar > a{
        padding: .2rem;
        text-align: center;
        transform-origin: center;
    }

    #sidebar > a.active {
        padding: .5rem;
    }
    
    .section > .title::after {
        transform: none;
        width: 100%;
        height: .15rem;
    }

}

@media screen and (max-width: 800px) {
    :root{
        font-size: 1.3em;
    }

    .header {
        font-size: 5.5rem;
    }

    img, video, iframe {
        max-height: 100vh;
        max-width: 100vw;
        width: calc(100% - .6rem);
        object-fit: cover;
        border: .3rem solid var(--text);
        border-radius: .5em;
    }

    .flex-row {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .flex-row > *:not(:last-child) {
        margin-right: 0;
    }

    .section > .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    .section.big > .title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1em;
        margin-bottom: 1rem;
    }
}
